@charset "UTF-8";

@import "bootstrap-sprockets";
@import "bootstrap";

header{
    /*This sets the background color to teal for the header.*/
    background-color:  rgb(200,0,0);
	
	height: 150px;
	
	/*Set the border attributes*/
	border-bottom:	3px inset black;

}

header p {

    /*Setting the font for the header*/
    font: 770% "Impact", serif;
	
	display: inline;
	
	vertical-align: top;
	
	margin-left: 5%;

}

h3, h2 {
	text-decoration: underline;
}

/*Set the style of the buttons*/
input[type="button"], input[type="submit"] {
    background-color: rgb(200,0,0);
	border:  2px inset black;
    font: 135% "Impact", serif;
	border-radius: 12px;
}

/*this next bunch sets the size for the "navigation" buttons*/
input[value="Go Back"], input[value="See Schedules"], input[value="Continue"] {
	width: 190px;
	height: 75px;
}

input[value="Add"], input[value="Select"] {
	width: 100px;
	height: 40px;
}

input[value="Add Selected"] {
	width: 190px;
	height: 50px;
}

/*Set attributes of buttons on calendars page*/
input[value="Edit Classes"], input[value="Edit Preferences"] {
	width: 170px;
	height: 70px;
	
	float: left;
}


input[value="Go Back"] {
	margin-top: 20%;
}

input[value="See Schedules"] {
	margin-left: 81%;
}

#main {
	/*Set the left and right margins*/
	margin-left: 5%;
	margin-right: 5%;
	
	font: 100% "Footlight MT Light", serif;
}
	
#welcome {
    /*Centering the content in the welcome section*/
    text-align: center;
}

#prefform {
	font: 100% "Impact", serif;
}

#prefform select {
	font: 100% "Footlight MT Light", serif;
}

ul {
	float: right;
	margin-top: -5%;
	margin-right: 5%;
}

#selectedterm {
	float: right;
	margin-top: -5%;
	margin-right: 5%;
}

#calendar {
	width: 200px;
	height: 650px;
}

.fc-header-title {

display: none;

vertical-align: top;

}

footer{

	/*Set the background color to black*/
	background-color:	black;
	
	/*Set the text to be white*/
	color:	white;
	
    /*Clear the footer from floating*/
    clear: both;

    /*Align the footer*/
    text-align: center;

    /*Set the top margin*/
    margin-top: 9%;
	
	/*Set the borders*/
	border-top: 5px solid black;
	border-bottom: 5px solid black;
}

